// custom variables
$success: #3A8375;
$info: #DAFFF8;
$secondary: #ADADAD;
$warning: #FC8868;
$danger: #FF7048;

$grid-gutter-width: 50px;

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';